:host {
    background-color: #333333;
    height: calc(100vh - 60px);
    color: white;
    width: 240px;
    overflow: hidden;
    padding: 16px 0;
    box-sizing: border-box;
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        span {
            padding-left: 24px;
            font-weight: bold;
        }
    }
    li {
        font-weight: normal;
        padding-left: 40px;
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
